
//- file: src/components/metar/weather/weather.pug

section.wre-section

  .wre-component

    .wre-row

      .wre-field
        label.wre-field__label(for='wre_metar_weather')
          span.wre-field__badge.wre-field__badge--bold Явления погоды

    .wre-columns

      .wre-field
        input.wre-field__input.wre-field__input--text.wre-field__input--4ch(
          id='wre_metar_weather'
          type='text'
          name='weather'
        )

      .wre-field
        label.wre-field__label(for='wre_metar_intensity_minus')
          input(
            id='wre_metar_intensity_minus'
            type='checkbox'
            name='intensity'
            value='-'
          )
          span.wre-field__badge -

      .wre-field
        label.wre-field__label(for='wre_metar_intensity_plus')
          input(
            id='wre_metar_intensity_plus'
            type='checkbox'
            name='intensity'
            value='+'
          )
          span.wre-field__badge +

      .wre-field
        select.wre-field__input.wre-field__input--select(
          id='wre_metar_precipitation'
          name='precipitation'
        )
          option(value='') Не выбрано
          option(value='DZ') DZ
          option(value='RA') RA
          option(value='SN') SN
          option(value='SG') SG
          option(value='IC') IC
          option(value='PL') PL
          option(value='GR') GR
          option(value='GS') GS
          option(value='UP') UP

      .wre-field
        select.wre-field__input.wre-field__input--select(
          id='wre_metar_phenomena'
          name='phenomena'
        )
          option(value='') Не выбрано
          option(value='BR') BR
          option(value='FG') FG
          option(value='FU') FU
          option(value='VA') VA
          option(value='DU') DU
          option(value='SA') SA
          option(value='HZ') HZ
          option(value='PY') PY
