
//- file: src/components/metar/wind/wind.pug

section.wre-section

  //- Wind

  .wre-component

    .wre-row
      .wre-field
        label.wre-field__label(for='wre_metar_direction')
          span.wre-field__badge.wre-field__badge--bold Ветер

    .wre-columns

      .wre-field
        label.wre-field__label(for='wre_metar_units_mps')
          input.wre-field__input.wre-field__input--radio(
            id='wre_metar_units_mps'
            type='radio'
            name='units'
            value='MPS'
          )
          span.wre_field__badge MPS

      .wre-field
        label.wre-field__label(for='wre_metar_units_kt')
          input.wre-field__input.wre-field__input--radio(
            id='wre_metar_units_kt'
            type='radio'
            name='units'
            value='KT'
          )
          span.wre-field__badge KT

      .wre-field
        label.wre-field__label(for='wre_metar_calm')
          input.wre-field__input.wre-field__input--checkbox(
            id='wre_metar_calm'
            type='checkbox'
            name='calm'
            value='CALM'
          )
          span.wre-field__badge CALM

      .wre-field
        label.wre-field__label(for='wre_metar_vrb')
          input.wre-field__input.wre-field__input--checkbox(
            id='wre_metar_vrb'
            type='checkbox'
            name='vrb'
            value='VRB'
          )
          span.wre-field__badge VRB

    .wre-row
      .wre-field
        label.wre-field__label(for='wre_metar_direction')
          span.wre-field__badge Направление
      .wre-field
        .wre-columns
          input.wre-field__input.wre-field__input--text.wre-field__input--4ch(
            id='wre_metar_direction'
            type='text'
            name='direction'
          )
          input.wre-field__input.wre-field__input--range(
            id='wre_metar_direction_range'
            type='range'
            name='direction_range'
            min='-10' max='360'
            step='10'
            value='-10'
          )

    .wre-row
      .wre-field
        label.wre-field__label(for='wre_metar_speed')
          span.wre-field__badge Скорость
      .wre-field
        .wre-columns
          input.wre-field__input.wre-field__input--text.wre-field__input--4ch(
            id='wre_metar_speed'
            type='text'
            name='speed'
          )
          input.wre-field__input.wre-field__input--range(
            id='wre_metar_speed_range'
            type='range'
            name='speed_range'
            min='-1' max='99'
            step='1'
            value='-1'
          )

    .wre-row
      .wre-field
        label.wre-field__label(for='wre_metar_gust')
          span.wre_field__badge Порыв
      .wre-field
        .wre-columns
          input.wre-field__input.wre-field__input--text.wre-field__input--4ch(
            id='wre_metar_gust'
            type='text'
            name='gust'
          )
          input.wre-field__input.wre-field__input--range(
            id='wre_metar_gust_range'
            type='range'
            name='gust_range'
            min='-1' max='99'
            step='1'
            value='-1'
          )

    .wre-row
      .wre-field
        label.wre-field__label(for='wre_metar_vrb_min')
          span.wre-field__badge.wre-field__badge--bold Сильные изменения

    .wre-row
      .wre-field
        label.wre-field__label(for='wre_metar_vrb_min')
          span.wre-field__badge От
      .wre-field
        .wre-columns
          input.wre-field__input.wre-field__input--text.wre-field__input--4ch(
            id='wre_metar_vrb_min'
            type='text'
            name='vrb_min'
          )
          input.wre-field__input.wre-field__input--range(
            id='wre_metar_vrb_min_range'
            type='range'
            name='vrb_min_range'
            min='-10' max='360'
            step='10'
            value='-10'
          )

    .wre-row
      .wre-field
        label.wre-field__label(for='wre_metar_vrb_max')
          span.wre-field__badge До
      .wre-field
        .wre-columns
          input.wre-field__input.wre-field__input--text.wre-field__input--4ch(
            id='wre_metar_vrb_max'
            type='text'
            name='vrb_max'
          )
          input.wre-field__input.wre-field__input--range(
            id='wre_metar_vrb_max_range'
            type='range'
            name='vrb_max_range'
            min='-10' max='360'
            step='10'
            value='-10'
          )
