
//- file: src/components/metar/icao/icao.pug

section.wre-section

  .wre-columns


    //- ICAO

    .wre-component

      .wre-row
        .wre-field
          label.wre-field__label(for='wre_metar_icao')
            span.wre-field__badge.wre-field__badge--bold ICAO

      .wre-row
        .wre-field
          input.wre-field__input.wre-field__input--text.wre-field__input--4ch(
            id='wre_metar_icao'
            type='text'
            name='icao'
          )
          select.wre-field__input.wre-field__input--select(
            id='wre_metar_icao_variants'
            name='icao_variants'
          )
            option Не найдено


    //- DateTime

    .wre-component

      .wre-row
        .wre-field
          label.wre-field__label(for='wre_metar_date')
            span.wre-field__badge.wre-field__badge--bold Дата и время

      .wre-row
        .wre-field
          input.wre-field__input.wre-field__input--date(
            id='wre_metar_date'
            type='date'
            name='date'
          )
          input.wre-field__input.wre-field__input--time(
            id='wre_metar_time'
            type='time'
            name='time'
            step='60'
          )
          input.wre-field__input.wre-field__input--button(
            id='wre_metar_current_time'
            type='button'
            name='current_time'
            value='Сейчас'
          )
