
//- file: src/components/metar/pressure/pressure.pug

section.wre-section
  .wre-row

    .wre-field
      label.wre-field__label(for='wre_metar_pressure')
        span.wre-field__badge.wre-field__badge--bold Давление

    .wre-field
      .wre-columns
        input.wre-field__input.wre-field__input--text.wre-field__input--4ch(
          id='wre_metar_pressure'
          type='text'
          name='pressure'
        )
        input.wre-field__input.wre-field__input--range(
          id='wre_metar_pressure_range'
          type='range'
          name='pressure_range'
          min='899' max='1100'
          value='899'
        )
