
//- file: src/components/metar/clouds/clouds.pug

section.wre-section

  .wre-component

    .wre-row
      .wre-field
        label.wre-field__label(for='wre_metar_clouds_1')
          span.wre-field__badge.wre-field__badge--bold Облачность

    .wre-row
      .wre-field
        label.wre-field__label(for='wre_metar_clouds_1')
          span.wre-field__badge 1-й слой

    .wre-row

      .wre-columns

        .wre-field
          select.wre-field__input.wre-field__input--select(
            name='clouds_1_coverage'
          )
            //option(value='NCD') NCD
            option(value='FEW') FEW
            option(value='SCT') SCT
            option(value='BKN') BKN
            option(value='OVC') OVC
            //option(value='NSC') NSC

        .wre-field
          input.wre-field__input.wre-field__input--text.wre-field__input--4ch(
            id='wre_metar_clouds_1'
            type='text'
            name='clouds_1'
          )

        .wre-field
          label.wre-field__label(for='wre_metar_clouds_1_type_cb')
            input.wre-field__input.wre-field__input--checkbox(
              id='wre_metar_clouds_1_type_cb'
              type='checkbox'
              name='clouds_1_type'
              value='CB'
            )
            span.wre-field__badge CB

        .wre-field
          label.wre-field__label(for='wre_metar_clouds_1_type_tcu')
            input.wre-field__input.wre-field__input--checkbox(
              id='wre_metar_clouds_1_type_tcu'
              type='checkbox'
              name='clouds_1_type'
              value='TCU'
            )
            span.wre-field__badge TCU

      .wre-row
        .wre-field
          input.wre-field__input.wre-field__input--range(
            id='wre_metar_clouds_1_height'
            type='range'
            name='clouds_1_height'
            min='-1' max='600'
            step='1'
            value='-1'
          )

      details.wre-details
        summary.wre-details__summary 2-й слой

        .wre-columns

          .wre-field
            select.wre-field__input.wre-field__input--select(
              name='clouds_2_coverage'
            )
              //option(value='NCD') NCD
              //option(value='FEW') FEW
              option(value='SCT') SCT
              option(value='BKN') BKN
              option(value='OVC') OVC
              //option(value='NSC') NSC

          .wre-field
            input.wre-field__input.wre-field__input--text.wre-field__input--4ch(
              id='wre_metar_clouds_2'
              type='text'
              name='clouds_2'
            )

          .wre-field
            label.wre-field__label(for='wre_metar_clouds_2_type_cb')
              input.wre-field__input.wre-field__input--checkbox(
                id='wre_metar_clouds_2_type_cb'
                type='checkbox'
                name='clouds_2_type'
                value='CB'
              )
              span.wre-field__badge CB

          .wre-field
            label.wre-field__label(for='wre_metar_clouds_2_type_tcu')
              input.wre-field__input.wre-field__input--checkbox(
                id='wre_metar_clouds_2_type_tcu'
                type='checkbox'
                name='clouds_2_type'
                value='TCU'
              )
              span.wre-field__badge TCU


        .wre-row
          .wre-field
            input.wre-field__input.wre-field__input--range(
              id='wre_metar_clouds_2_height'
              type='range'
              name='clouds_2_height'
              min='-1' max='600'
              step='1'
              value='-1'
            )


        details.wre-details
          summary.wre-details__summary 3-й слой

          .wre-columns

            .wre-field
              select.wre-field__input.wre-field__input--select(
                name='clouds_3_coverage'
              )
                //option(value='NCD') NCD
                //option(value='FEW') FEW
                //option(value='SCT') SCT
                option(value='BKN') BKN
                option(value='OVC') OVC
                //option(value='NSC') NSC

            .wre-field
              input.wre-field__input.wre-field__input--text.wre-field__input--4ch(
                id='wre_metar_clouds_3'
                type='text'
                name='clouds_3'
              )

            .wre-field
              label.wre-field__label(for='wre_metar_clouds_3_type_cb')
                input.wre-field__input.wre-field__input--checkbox(
                  id='wre_metar_clouds_3_type_cb'
                  type='checkbox'
                  name='clouds_3_type'
                  value='CB'
                )
                span.wre-field__badge CB

            .wre-field
              label.wre-field__label(for='wre_metar_clouds_3_type_tcu')
                input(
                  id='wre_metar_clouds_3_type_tcu'
                  type='checkbox'
                  name='clouds_3_type'
                  value='TCU'
                )
                span.wre-field__badge TCU

          .wre-row
            .wre-field
              input.wre-field__input.wre-field__input--range(
                id='wre_metar_clouds_3_height'
                type='range'
                name='clouds_3_height'
                min='-1' max='600'
                step='1'
                value='-1'
              )

          details.wre-details
            summary.wre-details__summary Дополнительная группа

            .wre-columns

              .wre-field
                select.wre-field__input.wre-field__input--select(
                  name='clouds_4_coverage'
                )
                  //option(value='NCD') NCD
                  option(value='FEW') FEW
                  option(value='SCT') SCT
                  option(value='BKN') BKN
                  option(value='OVC') OVC
                  //option(value='NSC') NSC

              .wre-field
                input.wre-field__input.wre-field__input--text.wre-field__input--4ch(
                  id='wre_metar_clouds_4'
                  type='text'
                  name='clouds_4'
                )

              .wre-field
                label.wre-field__label(for='wre_metar_clouds_4_type_cb')
                  input.wre-field__input.wre-field__input--checkbox(
                    id='wre_metar_clouds_4_type_cb'
                    type='checkbox'
                    name='clouds_4_type'
                    value='CB'
                  )
                  span.wre-field__badge CB

              .wre-field
                label.wre-field__label(for='wre_metar_clouds_4_type_tcu')
                  input.wre-field__input.wre-field__input--checkbox(
                    id='wre_metar_clouds_4_type_tcu'
                    type='checkbox'
                    name='clouds_4_type'
                    value='TCU'
                  )
                  span.wre-field__badge TCU

            .wre-row
              .wre-field
                input.wre-field__input.wre-field__input--range(
                  id='wre_metar_clouds_4_height'
                  type='range'
                  name='clouds_4_height'
                  min='-1' max='600'
                  step='1'
                  value='-1'
                )
