
//- file: src/components/metar/temperature/temperature.pug

section.wre-section

  //- Temperature

  .wre-component

    .wre-row
      .wre-field
        label.wre-field__label(for='wre_metar_temperature')
          span.wre-field__badge.wre-field__badge--bold Температура

    .wre-row
      .wre-field
        label.wre-field__label(for='wre_metar_temperature')
          span.wre-field__badge Воздух

    .wre-columns

      .wre-field
        input.wre-field__input.wre-field__input--text.wre-field__input--4ch(
          id='wre_metar_temperature'
          type='text'
          name='temperature'
        )

      .wre-field
        label.wre-field__label(for='wre_temperature_minus')
          input(
            id='wre_temperature_minus'
            type='checkbox'
            name='temperature_minus'
            value='-'
          )
          span.wre_normal –

      .wre-field.wre-field--w100
        input.wre-field__input.wre-field__input--range(
          id='wre_metar_temperature_range'
          type='range'
          name='temperature_range'
          min='-1' max='80'
          step='1'
          value='-1'
        )

  //- Dew point

  .wre-component

    .wre-row

      .wre-field
        label.wre-field__label(for='wre_metar_dew_point')
          span.wre-field__badge Точка росы

    .wre-columns

      .wre-field
        input.wre-field__input.wre-field__input--text.wre-field__input--4ch(
          id='wre_metar_dew_point'
          type='text'
          name='dew_point'
        )

      .wre-field
        label.wre-field__label
          input.wre-field__input.wre-field__input--checkbox(
            id='wre_metar_dew_point_minus'
            type='checkbox'
            name='dew_point_minus'
            value='-'
          )
          span.wre-field__badge –

      .wre-field.wre-field--w100
        input.wre-field__input.wre-field__input--range(
          id='wre_metar_dew_point_range'
          type='range'
          name='dew_point_range'
          min='-1' max='80'
          step='1'
          value='-1'
        )
