
//- file: src/components/metar/visibility/visibility.pug

section.wre-section

  //- Visibility

  .wre-component

    .wre-row
      .wre-field
        label.wre-field__label(for='wre_metar_visibility')
          span.wre-field__badge.wre-field__badge--bold Видимость

    .wre-row
      .wre-field
        label.wre-field__label(for='wre_metar_visibility')
          span.wre-field__badge Преобладающая

    .wre-columns
      .wre-field
        input.wre-field__input.wre-field__input--text.wre-field__input--4ch(
          id='wre_metar_visibility'
          type='text'
          name='visibility'
        )
      .wre-field.wre-field--100w
        input.wre-field__input.wre-field__input--range(
          id='wre_metar_visibility_range'
          type='range'
          name='visibility_range'
          min='-1' max='9999'
          step='1'
          value='-1'
        )

    .wre-row
      .wre-field
        label.wre-field__label(for='wre_metar_visibility_minimal')
          span.wre-field__badge Минимальная

    .wre-columns
      .wre-field
        input.wre-field__input.wre-field__input--text.wre-field__input--4ch(
          id='wre_metar_visibility_minimal'
          type='text'
          name='visibility_minimal'
        )
      .wre-field
        select.wre-field__input.wre-field__input--select(
          name='visibility_minimal_direction'
        )
          option N
          option NE
          option E
          option SE
          option S
          option SW
          option W
          option NW
      .wre-field.wre-field--100w
        input.wre-field__input.wre-field__input--range(
          id='wre_metar_visibility_minimal_range'
          type='range'
          name='visibility_minimal_range'
          min='-1' max='9999'
          step='1'
          value='-1'
        )

    .wre-row
      .wre-field
        label.wre-field__label(for='wre_metar_vertical_visibility')
          span.wre-field__badge Вертикальная

    .wre-columns
      .wre-field
        input.wre-field__input.wre-field__input--text.wre-field__input--4ch(
          id='wre_metar_visibility_vertical'
          type='text'
          name='visibility_vertical'
        )
      .wre-field.wre-field--100w
        input.wre-field__input.wre-field__input--range(
          id='wre_metar_vertical_visibility_range'
          type='range'
          name='visibility_vertical_range'
          min='-1' max='20'
          step='1'
          value='0'
        )
