#metar_form.creation-form

  section.creation-form__section.creation-form__section_output
    form.creation-form__form(
      name='amtk_output'
      method='post'
    )

      // Сводка
      .creation-form__rows
        .creation-form__row
          .creation-form__cols
            .creation-form__col
               label.creation-form__label(for='report') Редактор METAR/SPECI
        .creation-form__row
          .creation-form__cols.creation-form__mobile-cols
            .creation-form__col.creation-form__col_grow
              input#report.creation-form__input.creation-form__input_output(
                type='text'
                name='report'
              )
            .creation-form__col
              input#submit.creation-form__input.creation-form__input_submit(
                type='submit'
                value='Сохранить'
              )

  section.creation-form__section.creation-form__section_input
    form.creation-form__form(
      name='amtk_input'
      method='post'
    )

      // Тип сводки
      .creation-form__rows
        .creation-form__row.creation-form__cols
          .creation-form__col
            label.creation-form__label Тип сводки
        .creation-form__row.creation-form__cols
          .creation-form__col
            label.creation-form__label(for='metar')
              input#metar.creation-form__input.creation-form__input_radio(
                type='radio'
                name='type'
                value='metar'
                checked
              )
              span.creation-form__span METAR
          .creation-form__col
            label.creation-form__label(for='speci')
              input#speci.creation-form__input.creation-form__input_radio(
                type='radio'
                name='type'
                value='speci'
              )
              span.creation-form__span SPECI

      hr.creation-form__hr

      // ICAO
      .creation-form__rows
        .creation-form__row.creation-form__cols
          .creation-form__col
            label.creation-form__label(for='icao') ICAO
        .creation-form__row.creation-form__cols.creation-form__mobile-cols
          .creation-form__col
            input#icao.creation-form__input.creation-form__input_text(
              type='text'
              name='icao'
              placeholder='UUEE'
          )
          .creation-form__col
            select#icao_variants.creation-form__input.creation-form__input_select(disabled)
              option Не найдено

      hr.creation-form__hr

      // Дата и время
      .creation-form__rows
        .creation-form__row.creation-form__cols
          .creation-form__col
            label.creation-form__label(for='date') Дата и время
        .creation-form__row.creation-form__cols.creation-form__mobile-cols
          .creation-form__col
            input#date.creation-form__input.creation-form__input_date(
              type='date'
              name='date'
            )
          .creation-form__col
            input#time.creation-form__input.creation-form__input_time(
              type='time'
              name='time'
              step='60'
            )
          .creation-form__col
            input#current.creation-form__input.creation-form__input_button(
              type='button'
              name='current'
              value='Сейчас'
            )

      hr.creation-form__hr

      // Ветер
      .creation-form__rows
        .creation-form__row.creation-form__cols
          .creation-form__col
            label.creation-form__label(for='direction') Ветер
        .creation-form__row.creation-form__cols.creation-form__mb-1
          .creation-form__col
            label.creation-form__label(for='mps')
              input#mps.creation-form__input.creation-form__input_radio(
                type='radio'
                name='units'
                value='mps'
                checked
              )
              span.creation-form__span MPS
          .creation-form__col
            label.creation-form__label(for='kt')
              input#kt.creation-form__input.creation-form__input_radio(
                type='radio'
                name='units'
                value='kt'
              )
              span.creation-form__span KT
        .creation-form__row.creation-form__cols.creation-form__mobile-cols
          .creation-form__col.creation-form__rows
            .creation-form__row
              label.creation-form__label.creation-form__small(for='direction') Направление
            .creation-form__row
              input#direction.creation-form__input.creation-form__input_text(
                type='text'
                name='direction'
                placeholder='180'
              )
            .creation-form__row
              input#direction_range.creation-form__input.creation-form__input_range(
                type='range'
                name='direction_range'
                min='0'
                max='360'
                step='10'
                value='0'
              )
          .creation-form__col.creation-form__rows
            .creation-form__row
              label.creation-form__label.creation-form__small(for='speed') Скорость
            .creation-form__row
              input#speed.creation-form__input.creation-form__input_text(
                type='text'
                name='speed'
                placeholder='10'
              )
            .creation-form__row
              input#speed_range.creation-form__input.creation-form__input_range(
                type='range'
                name='speed_range'
                min='0'
                max='99'
                step='1'
                value='0'
              )
          .creation-form__col.creation-form__rows
            .creation-form__row
              label.creation-form__label.creation-form__small(for='gust') Порывы
            .creation-form__row
              input#gust.creation-form__input.creation-form__input_text(
                type='text'
                name='gust'
                placeholder='15'
              )
            .creation-form__row
              input#gust_range.creation-form__input.creation-form__input_range(
                type='range'
                name='gust_range'
                min='0'
                max='99'
                step='1'
                value='0'
              )

      hr.creation-form__hr

      // Видимость
      .creation-form__rows
        .creation-form__row.creation-form__cols
          .creation-form__col
            label.creation-form__label(for='visibility') Видимость
        .creation-form__row.creation-form__cols
          .creation-form__col.creation-form__rows
            .creation-form__row
              input#visibility.creation-form__input.creation-form__input_text(
                type='text'
                name='visibility'
                placeholder='9999'
              )
            .creation-form__row
              input#visibility_range.creation-form__input.creation-form__input_range(
                type='range'
                name='visibility_range'
                min='0'
                max='63'
                value='0'
              )

      hr.creation-form__hr

      // Явления погоды
      .creation-form__rows
        .creation-form__row.creation-form__cols
          .creation-form__col
            label.creation-form__label(for='weather') Явления погоды
        .creation-form__row.creation-form__cols.creation-form__mobile-cols
          .creation-form__col
            input#weather.creation-form__input.creation-form__input_text(
              type='text'
              name='weather'
              placeholder='-SNRA'
            )
          .creation-form__col.creation-form__cols.creation-form__align-center
            .creation-form__col
              label.creation-form__label(for='weather_minus')
                input#weather_minus.creation-form__input.creation-form__input_checkbox(
                  type='checkbox'
                  name='intensity'
                  value='-'
                )
                span.creation-form__span -
            .creation-form__col
              label.creation-form__label(for='weather_plus')
                input#weather_plus.creation-form__input.creation-form__input_checkbox(
                  type='checkbox'
                  name='intensity'
                  value='+'
                )
                span.creation-form__span +
          // Осадки
          .creation-form__col
            select#precipitation.creation-form__input.creation-form__input_select
          // Явления погоды
          .creation-form__col
            select#phenomena.creation-form__input.creation-form__input_select

      hr.creation-form__hr

      // Облачность
      .creation-form__rows
        .creation-form__row.creation-form__cols
          .creation-form__col
            label.creation-form__label(for='clouds') Облачность
        .creation-form__row.creation-form__cols.creation-form__mobile-cols
            .creation-form__col.creation-form__rows
              .creation-form__row
                input#clouds.creation-form__input.creation-form__input_text(
                  type='text'
                  name='clouds'
                  placeholder='FEW035CB'
                )
              .creation-form__row
                input#height.creation-form__input.creation-form__input_range(
                  type='range'
                  name='height'
                  min='0'
                  max='100'
                  step='1'
                  value='0'
                )
            .creation-form__col
              select#clouds_variants.creation-form__input.creation-form__input_select
            .creation-form__col.creation-form__cols.creation-form__h-40px.creation-form__align-center
              .creation-form__col
                label.creation-form__label(for='cb')
                  input#cb.creation-form__input.creation-form__input_checkbox(
                    type='checkbox'
                    name='clouds_type'
                    value='CB'
                  )
                  span.creation-form__span CB
              .creation-form__col
                label.creation-form__label(for='tcu')
                  input#tcu.creation-form__input.creation-form__input_checkbox(
                    type='checkbox'
                    name='clouds_type'
                    value='TCU'
                  )
                  span.creation-form__span TCU
      hr.creation-form__hr

      // Температура
      .creation-form__rows
        .creation-form__row.creation-form__cols
            .creation-form__col.creation-form__rows
              .creation-form__row.creation-form__cols.creation-form__mb-1
                .creation-form__col
                  label.creation-form__label Температура
              .creation-form__row.creation-form__cols.creation-form__mobile-cols
                .creation-form__col.creation-form__rows
                  .creation-form__row
                    label.creation-form__label.creation-form__small(for='temperature') Воздух
                  .creation-form__row
                    input#temperature.creation-form__input.creation-form__input_text(
                      type='text'
                      name='temperature'
                      placeholder='21'
                    )
                  .creation-form__row
                    input#temperature_range.creation-form__input.creation-form__input_range(
                      type='range'
                      name='temperature_range'
                      min='-80'
                      max='60'
                      step='1'
                      value='0'
                    )
                .creation-form__col.creation-form__rows
                  .creation-form__row
                    label.creation-form__label.creation-form__small(for='dew_point') Точка росы
                  .creation-form__row
                    input#dew_point.creation-form__input.creation-form__input_text(
                      type='text'
                      name='dew_point'
                      placeholder='10'
                    )
                  .creation-form__row
                    input#dew_point_range.creation-form__input.creation-form__input_range(
                      type='range'
                      name='dew_point_range'
                      min='-80'
                      max='60'
                      step='1'
                      value='0'
                    )

      hr.creation-form__hr

      // Давление
      .creation-form__rows
        .creation-form__row.creation-form__cols
          .creation-form__col
            label.creation-form__label(for='pressure') Давление
        .creation-form__row.creation-form__cols
          .creation-form__col.creation-form__rows
            .creation-form__row
              input#pressure.creation-form__input.creation-form__input_text(
                type='text'
                name='pressure'
                placeholder='1013'
              )
            .creation-form__row
              input#pressure_range.creation-form__input.creation-form__input_range(
                type='range'
                name='pressure_range'
                min='500'
                max='1100'
                value='500'
              )
